*.tgz
*.zip
*.sha256sum
*.env
packages/dashboard/dist
*.log
packages/**/node_modules
node_modules
yarn-error.log
.vscode
.DS_Store
*.cache/
coverage/
**/.turbo/turbo-build.log

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# monorepo
*.js.map
packages/**/package-lock.json
package-lock.json
tsbuildinfo
*.tsbuildinfo
